.passInput {
  margin: 0 auto;
  /* //color: white; */
  margin-top: 10px;
  width: 135px;
  height: 30px;
  font-size: 40px;
  margin-bottom: 14px;
  letter-spacing: 3px;
  /* padding:  10px; */
}

input::placeholder {
  font-size: 20px;
  font-style: italic;
  letter-spacing: -1px;
}

#notSame {
  margin-top: -10px;
  left: 0;
  right: 0;
  color: red;
  font-size: 4mm;
  position: absolute;
}

#continue {
  font-size: 100%;
  font-weight: bold;
  width: 110px;
  height: 30px;
  background-color: rgb(230, 237, 240);
  color: darkmagenta;
  border-radius: 10px;
}
